/* base */
h2 {
  text-transform: uppercase;
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 3rem;
  font-weight: 400;
}

.monsoon,
.beams {
  width: 100vw;
  padding: 8.5rem 0.25rem;
}

.content-wrapper {
  width: 95%;
  margin: 0 auto;
}

/* monsoon */
.monsoon {
  background: white;
  color: #333;
}

.monsoon h2 {
  margin-bottom: 5px;
}

.monsoon p {
  color: #777;
}

/* beams */
.beams {
  background: linear-gradient(rgba(0,0,0,0.7) 50%, white);
  color: white;
}

.beams-content {
  margin-bottom: 3rem;
}

/* carousel */

/* media queries */
@media (min-width: 425px) {
  img {
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .content-wrapper {
    width: 88%;
  }
}

@media (min-width: 768px) {
  .content-wrapper {
    width: 80%;
  }

  .monsoon img,
  .beams img {
    max-width: 85%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .content-wrapper {
    max-width: 1024px;
  }

  .monsoon .content-wrapper,
  .beams-content,
  .move2 {
    display: flex;
    justify-content: space-evenly;
  }

  .monsoon-text,
  .beams-content-text,
  .move2-text {
    padding: 0 2rem;
  }

  .monsoon img,
  .move2 img {
    order: -1;
  }
}