/* base */
h2 {
  text-transform: uppercase;
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 3rem;
  font-weight: 400;
}

.monsoon,
.beams {
  width: 100vw;
  padding: 8.5rem 0.25rem;
}

.content-wrapper {
  width: 95%;
  margin: 0 auto;
}

/* monsoon */
.monsoon {
  background: white;
  color: #333;
}

.monsoon h2 {
  margin-bottom: 5px;
}

.monsoon p {
  color: #777;
}

/* beams */
.beams {
  background: linear-gradient(rgba(0,0,0,0.7) 50%, white);
  color: white;
}

.beams-content {
  margin-bottom: 3rem;
}

/* carousel */
/* .carousel {
  position: relative;
  width: 100vw;
  z-index: 2;
}

.carousel .img-slide {
  position: relative;
  width: 100%;
}

.carousel .img-slide .arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 4;
  background: none;
  border: none;
  outline: none;
  font-size: 2.5rem;
}

.carousel .img-slide .arrow.left {
  left: 3rem;
}

.carousel .img-slide .arrow.right {
  right: 3rem;
} */

.slider .slide .content {
  position: absolute;
  top: 25%; /* FIXME: hard coded value? */
  left: 0;
  width: 100vw;
  padding: 0 15rem;
  z-index: 3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.slider .slide .content .content-img {
  height: 300px;
}

.slider .slide .content .content-img img {
  max-height: 100%;
  object-fit: contain;
}

.slider .slide .content .content-text {
  width: 55%;
  white-space: initial;
}

.slider .slide .content h3 {
  color: white;
  margin-bottom: 25px;
  font-size: 2rem;
  font-weight: 400;
}

.slider .slide .content p {
  color: white;
  font-weight: 100;
}

.slider .slide .btn-group button {
  outline: none;
  padding: 12px;
  font-weight: bold;
  border-radius: 8px;
  display: inline-block;
  color: white;
  font-size: 0.9rem;
}

.slider .slide .btn-group #buy-now {
  border: none;
  margin-right: 15px;
  background: rgb(13, 107, 158);
}

.slider .slide .btn-group #trailer {
  border: 1px solid white;
  background: transparent;
}

/* media queries */
@media (min-width: 425px) {
  img {
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .content-wrapper {
    width: 88%;
  }
}

@media (min-width: 768px) {
  .content-wrapper {
    width: 80%;
  }

  .monsoon img,
  .beams img {
    max-width: 85%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .content-wrapper {
    max-width: 1024px;
  }

  .monsoon .content-wrapper,
  .beams-content,
  .move2 {
    display: flex;
    justify-content: space-evenly;
  }

  .monsoon-text,
  .beams-content-text,
  .move2-text {
    padding: 0 2rem;
  }

  .monsoon img,
  .move2 img {
    order: -1;
  }
}